.vh100 {
  height: 100vh;
  outline: 2px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.img-nav{
 position:fixed;
 left: 0;
 margin: 1rem 0 1rem 1rem;

}
.yocambio{

  background-color: blueviolet;

}
@media (min-width:992px){
.yocambio{
  background-color: aqua;
}
}
.inicio{
  background-color: aqua;
}
.row.inicio {
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}